* {
  /* outline-style: dotted; */
  margin: 0;
}

/* ---------- Header and Nav ----------*/
#changeHOne {
  font-size: 50px;
  text-align: center;
}

nav {
  text-align: center;
  font-size: 1.5em;
}



/* ---------- Images and Captions ----------- */

#busVoting {
  text-align: center;
  font-size: 25px;
  text-decoration:underline;
}

section {
  padding-left: 300px;
}

img {
  width: 250px;
  height: 150px;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
}

main {
  /* margin-left: 5em; */
  text-align: center;
}


/* div.item {
  vertical-align: top;
  /* display: inline-block; */
  /* text-align: center;
} */

/* .caption {
  display: block;
} */ 


/* --------- table! ------------- */ 



















/* ---------- Footer ---------- */
footer {
  text-align: center;
  font-size: 2em;
}