* {
  /* outline-style: dotted; */
  margin: 0;
}

/* ---------- Header and Nav ----------*/
h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 10px 4px rgba(112, 124, 235, 0.8);
  font-family: 'Staatliches', cursive;
}

nav {
  text-align: center;
  font-size: 1.5em;
}

h2 {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  font-family: 'Staatliches', cursive;
}

p {
  font-size: 25px;
  font-family: 'Staatliches', cursive;
  text-decoration: underline;
}

aside {
  height: 1060px;
  width: 550px;
  background-color: rgba(112, 124, 235, 0.8);
  float: left;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

button {
  font-size: 15px;
  text-align: center;
  margin-left: 570px;
  margin-bottom: 25px;
}
body {
  background-color: paleturquoise;
}




/* ---------- Images and Captions ----------- */

#busVoting {
  text-align: center;
  font-size: 25px;
  text-decoration:underline;
}

section {
  padding-left: 590px;
}

img {
  width: 250px;
  height: 150px;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
  margin-bottom: 5em;
}

main {
  /* margin-left: 5em; */
  text-align: center;
}


/* div.item {
  vertical-align: top;
  /* display: inline-block; */
  /* text-align: center;
} */

/* .caption {
  display: block;
} */ 



/* ----Class 13 demo ----*/
li {

  padding: 5px;
}

form{
  margin-top: 25px;
  margin-bottom: 25px;
}

canvas {
  background-color: white;
}













/* ---------- Footer ---------- */
footer {
  text-align: center;
  font-size: 2em;
}